@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

:root {
  --game-font: "Seymour One", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
img {
  display: block;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  position: relative;
  height: 100%;
  background-color: rgba(121, 185, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .board-row:after {
  clear: both;
  content: "";
  display: table;
  height: 100%;
  width: 100%;
} */
.game-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  transition: margin-top 0.3s ease, margin-left 0.3s ease, box-shadow 0.3s ease;
  background: rgba(121, 185, 255, 255);
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #ffffff;
  border: 10px solid #371a46;
  cursor: pointer;
  float: left;
  font-size: 4rem;
  font-weight: bold;
  line-height: 34px;
  height: 8rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 8rem;
  color: #371a46;
  font-family: var(--game-font);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background-color: #ddd;
}

.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.game img {
  width: 100%;
  position: relative;
  object-fit: contain;
}

.game-info {
  position: absolute;
}

.player-x {
  margin-left: 3rem;
}

.player-o {
  margin-left: 25rem;
}

.player-x,
.player-o {
  position: absolute;
  z-index: 999;
  transform: translatey(0px);
  -webkit-animation: float 5s ease-in-out infinite;
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(18, 22, 75);
  padding: 1rem 3rem;
  border-radius: 11px;
  width: max-content;
  /* position: relative; */
  box-shadow: 20px 20px#2a76b4;
  font-size: 1.5rem;
  background-color: #ddd;
}

.player-x:after,
.player-o:after {
  z-index: 999;
  transform: translatey(0px);
  -webkit-animation: float2 5s ease-in-out infinite;
  animation: float2 5s ease-in-out infinite;
  content: ".";
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #ddd;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #2a76b4;
  z-index: -2;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
